body {
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    font-family: 'Poppins', sans-serif;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    text-align: center;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    padding: 15% 20%;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
}
p{
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    font-size: 23px;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
}
input{
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    width: 80%;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    padding: 10px 10px;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    border: 2px solid rgb(124, 124, 124);
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
}
.input-challenge2{
    /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    width: 80%;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    padding: 10px 10px;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    border-radius: 20px 20px 20px 20px;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    border: 2px solid rgb(124, 124, 124);
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
}
.input-challenge3{
    /*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    width: 80%;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    padding: 10px 10px;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    border-radius: 20px 0px 0px 20px;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    border: 2px solid rgb(124, 124, 124);
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
}
.transform-btn{
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    background-color: rgb(117, 117, 226);
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    padding: 10px 30px;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    color: white;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    border-radius: 0px 20px 20px 0px;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    border: 2px solid rgb(117, 117, 226);
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   

}
.transform-btn:hover{
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    color: rgb(117, 117, 226);
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    background-color: white;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
}
#result{
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    font-size: 28px;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    color: rgb(110, 97, 97);
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    margin-top: 20px;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    font-weight: bold;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   

}
.check-sum{
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    background-color: rgb(117, 117, 226);
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    padding: 10px 30px;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    color: white;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    border-radius: 10px 10px 10px 10px;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    border: 2px solid rgb(117, 117, 226);
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   

}
.check-sum:hover{
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    color: rgb(117, 117, 226);
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    background-color: white;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
}
@media only screen and (max-width: 1500px) {
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    .input-challenge3  {
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
        width: 40%;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    }
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    .transform-btn{
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
        width: 30%;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    }
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    body{
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
        padding: 15% 1%;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    }
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
}
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   