body {
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    font-stretch: condensed;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    background-color: black;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/    
    overflow: hidden;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    font-family: 'Lohit Devanagari';
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
}
.flex-container {
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/    
    display: flex;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    justify-content: space-between;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    margin: 7% 19%;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
}
.flex-item {
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    flex: 1;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/    
    height: 588px;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    position: relative;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    overflow: hidden;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    margin: 30px 1px;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    transition: transform 0.3s ease;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
}
.flex-item img {
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/   
    position: absolute;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    top: 0;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    left: 0;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    width: 100%;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    height: 100%;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    object-fit: cover;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    transition: transform 0.3s ease, filter 0.3s ease;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
}
.flex-item:hover img {
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    transform: scale(1.1);
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    filter: grayscale(100%) blur(5px);
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
}
.overlay {
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    position: absolute;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    top: 0;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    left: 0;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    width: 100%;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    height: 100%;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    display: flex;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    justify-content: left;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    align-items: flex-end;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    opacity: 1;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    transition: opacity 0.3s ease;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    padding: 20px;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    box-sizing: border-box;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
}
.overlay-content {
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    color: white;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    text-align: left;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    display: flex;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    flex-direction: column;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    justify-content: flex-end;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    padding: 0px 120px 0px 0px;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    z-index: 2;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
}
.overlay-content h1, .overlay-content p {
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    margin: 0;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    transition: transform 0.3s ease, opacity 0.3s ease;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
}
.overlay-content p {
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    color: rgb(177, 174, 174);
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    font-family: 'Poppins' !important;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    font-size: 12px;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    line-height: 2;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
}
 .flex-item:hover .overlay-content h1 p {
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    font-size: 30px;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    line-height: 1;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    opacity: 1;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    transform: translateY(0);
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    transform: translateY(-10px);
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    transition: transform 0.3s ease, opacity 0.3s ease; 
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
}
.overlay-content .read-more {
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    opacity: 0; 
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    transform: translateY(20px); 
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    transition: transform 0.3s ease, opacity 0.3s ease; 
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
}
.flex-item:hover .overlay-content .read-more {
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    opacity: 1; 
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    transform: translateY(0); 
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
}

.flex-item:hover .read-more{
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    color: rgb(82, 223, 228);
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    margin: 0;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    font-family: 'Poppins', sans-serif; 
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    font-size: 90%;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
}
@media (max-width:1000px) {
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    .overlay-content {
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
        display: none;
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    }
/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
}